
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
.wrapper{
    max-width: 800px;
    margin: 64px auto;
}
nav li{
    display: inline-block;
}

:visited{
    color: #0B257D;
}
section span{
    background: #E9E9E9;
    margin: 0;
}
section{
    background: #fff;
    padding: 30px 50px;
    border-radius: 13px;
}
h2{
    margin-bottom: 8px;
}
section div{
    margin-bottom: 16px;
}
img{
    width: 640px;
    height: auto;
}
.image{
    background: #F4D3D3;
    width: 700px;
    height: 451px;
    padding-left: 30px; padding-right: 30px; padding-bottom: 46px; padding-top: 35px;
}
figcaption{
    text-align: center;
}
nav{
    background: #F4D3D3;
    width: 800px;
    border-radius: 7px;
    margin-bottom: 16px;
}
nav ul li{
    margin:0 10px;
}
ul {
    text-align: center;
    margin: 10px 0;
}